html
	font-size: 100%
	
body
	font-size: 100%
	color: $text-color
	+light
	
img
	max-width: 100%
	height: auto

.section
	padding: 10.4vw 0
	&-title
		font-size: 30px
		text-align: center
		text-transform: uppercase
		+bold
	&__title
		margin-bottom: 100px

.button
	padding: 1.4em 1.8em
	font-size: 0.75rem
	text-align: center
	color: #fff
	text-transform: uppercase
	text-decoration: none
	border: none
	background-color: $primary
	+bold
	&-outline
		color: $primary
		border: 2px solid $primary
		background-color: #fff
	&-fitting, &-add, &-like
		padding: 10px
		height: 30px
		font-size: 11px
		text-transform: uppercase
		border: none
	&-fitting
		background-color: #ffffff
		color: $primary
	&-add
		background-color: lighten($primary, 10%)
		color: #ffffff
	&-like
		width: 30px
		background-color: $primary
	&:hover
		cursor: pointer

.bg-secondary
	background-color: $bg-secondary
	
.input
	height: 80px
	padding:
		left: 30px
		right: 30px
	text-align: center
	border: 1px solid #dddddd
	
input[type="checkbox"]
	display: none
	&:checked + label:before
		background-color: $primary

.select
	position: relative
	height: 80px
	width: 100%
	border: 1px solid #dddddd
	&:after
		content: ''
		position: absolute
		z-index: 9
		top: 50%
		transform: translateY(-50%)
		right: 20px
		width: 20px
		height: 20px
		background: url('../img/dropdwn-arrow.png') no-repeat center
		// background-size: 100%
	&:hover
		cursor: pointer
	&__checked
		line-height: 80px
		padding-left: 30px
	&__dropdown
		position: absolute
		top: 80px
		width: 100%
		border: 1px solid #dddddd
		background-color: #fff
		margin: 0
		list-style-type: none
		padding: 0
		display: none
		&_open
			display: block
	&__option
		padding: 20px
		&:hover
			background-color: $bg-secondary

.checkbox
	&-label
		display: flex
		align-items: center
		margin-right: 40px
		&:hover
			cursor: pointer
		&:before
			content: ''
			width: 30px
			height: 30px
			border: 1px solid #dddddd
			margin-right: 20px
			
@media (max-width: 768px)
	.button
		&-outline
			color: $primary
			border: 2px solid $primary
			background-color: #fff