.contacts
	&-block
		display: flex
		justify-content: space-between
		width: 80%
		margin: 0 auto
		color: $light-grey
		flex-wrap: wrap
		&__item
			text-align: center
	&__img
		margin-bottom: 25px
		width: 40px
	&__text
		font-size: 1.125rem
		+bold
	&__link
		text-decoration: none
		color: $light-grey
	&__address
		font-style: normal


@media (max-width: 899px)
	.contacts
		&-block
			width: 100%

@media (max-width: 599px)
	.contacts
		&-block
			flex-flow: column wrap
			&__item
				margin-bottom: 1.25em