.hero
	background:
		image: url('../img/hero/kitchen.png')
		repeat: no-repeat
		position: right top
		size: 85.5vw auto
		color: #f1f1f1
	padding:
		top: 200px
		bottom: 340px
	margin-top: 80px
	&__title
		width: 23%
		font-size: 1.9rem
		margin-bottom: 1.3em
	&__subtitle
		display: block
		margin-bottom: 67px
		font-size: 30px
		+bold
		& sup
			font-size: 18px

@media (max-width: 991px)
	.hero
		background-size: contain
		background-position: right top
		height: fit-content
		padding-bottom: 218px
		&__title
			width: 100%
			margin-top: 480px
			font-size: 2rem
		&__button
			float: right
		&__subtitle
			font-size: 2rem
			margin-bottom: 1em
@media (max-width: 767px)
	.hero
		&__title
			margin-top: 36vh
// @media (max-width: 479px)
// 	.hero
// 		background-size: contain
// 		background-position: right top
// 		&__title
// 			margin-top: 32%

