.offer
	padding: 10% 0
	&-block
		background: 
			repeat: no-repeat
			position: center right -44px
			color: #fff
		box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2)
		padding: 5em
		margin-top: -30%
		&__calc-bg
			background: 
				image: url('../img/form/ofer-block-calc-bg.png')
				size: contain
		&__price-bg
			background: 
				image: url('../img/form/ofer-block-price-bg.png')
				size: contain
			margin-top: 0
	&__title
		font-size: 1.32rem
		text-transform: uppercase
		+bold
		margin-bottom: 0.76em
	&__subtitle
		max-width: 68%
		display: block
		font-size: 1.32rem
		margin-bottom: 2.28em

.form
	&__row
		display: flex
		align-items: center
		margin-bottom: 1.88em
		&:last-child
			margin-bottom: 0
	&__label
		display: block
		font-size: 1rem
		margin-bottom: 0.9em
	&__group
		flex-basis: 33.33%
	&__input
		width: 100%
		border-right-width: 0px
		&:last-child
		border-right-width: 1px
	&__button
		height: 80px
		width: 100% 
	&__policy
		display: inline-block
		margin-left: 2.8em

@media (max-width: 1999px)
	.offer
		&-block
			margin-top: 0
			background-position: center right -210px

@media (max-width: 899px)
	.offer
		&__title
			text-align: center
		&__subtitle
			max-width: 100%
			text-align: center
		&-block
			&__calc-bg,
			&__price-bg
				background-image: none
	.form
		&__row
			flex-direction: row
		&__group
			flex-basis: 100%
			width: 100%

@media (max-width: 599px)
	.form
		&__row
			flex-direction: column
			&-checkbox
				flex-direction: column
				align-items: flex-start
		&__checkbox
			margin-bottom: 20px
		&__group
			padding: 0
			margin-bottom: 20px 
		&__policy
			margin-left: 0
			text-align: center